* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.container {
  width: 100%;
  min-height: 100dvh;
  background: rgb(79, 87, 125);
  background: linear-gradient(
    54deg,
    rgba(79, 87, 125, 1) 5%,
    rgba(43, 41, 71, 1) 14%,
    rgba(37, 37, 83, 1) 25%,
    rgba(36, 38, 77, 1) 28%,
    rgba(36, 39, 74, 1) 34%,
    rgba(24, 29, 48, 1) 56%
  );
  padding: 10px;
}
.todo-app {
  margin: 100px auto 20px;
  max-width: 540px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}
.todo-app h2 {
  text-align: center;
  color: #002765;
  margin-bottom: 20px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: cornflowerblue;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;
}
ul li {
  list-style: none;
  padding: 10px 25px 10px;

  font-size: 17px;
  background-color: #edeef0;
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li > div > input {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  accent-color: #2fff00;
}
.done {
  color: white;
  background: cornflowerblue;
}
.del {
  background-color: #ff5945;
  color: #fff;
  border-radius: 10px;
}
li button {
  border: none;
  outline: none;
  padding: 10px 15px;
  background: #ff0000;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  border-radius: 40px;
}
.check-box {
  background-color: #ff0000;
  padding: 10px;
}
.task-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
